In [1]:
import warnings
warnings.simplefilter("ignore")
warnings.filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd 
import numpy as np  
import seaborn as sns 
import re
import math
import matplotlib.pyplot as plt

In [4]:
# pd.set_option("display.precision", 4)
pd.set_option('display.max_columns', None)  
pd.set_option('display.max_rows', None)  
pd.set_option('display.float_format', lambda x: '%.4f' % x)
sns.set_context('talk')
sns.set_style('darkgrid', {'font.sans-serif': ['Iosevka']})

In [5]:
file = 'datasets/COMP_SALE_SB_EXTRACT_KPI_20201020.csv'

In [6]:
def load_dataset(filename, na_val=None, parse_date=False):
    if parse_date:
        to_parse = [1,2]
        df = pd.read_csv(filename, parse_dates=to_parse, na_values=na_val)
    else:
        df = pd.read_csv(filename, na_values=na_val)
    # Features and Target column name 
    features = df.columns
    target = ''
    
    print("+ Dataset:")
    display(df.head(3))
    print("+ Shape:")
    display(df.shape) 
    print(f"+ Target: {target}")
    print(f"+ Overall Variables Info: ")
    display(pd.DataFrame(df.info(memory_usage='deep')))
    
    return features, target, df

features, target, dataset = load_dataset(file, na_val=None, parse_date=False)

+ Dataset:

,ID,CREATED_AT,SOLD_DATE,SOLD_DURATION,ADDRESS,LATITUDE,LONGITUDE,SOLD_PRICE,UNIT_NUMBER,PROPERTY_FLOOR,BUILDING_SIZE,BUILDING_SURFACE,LOT_SURFACE,LAND_REGISTER,BUILDING_YEAR,LOT_EVALUATION,BUILDING_EVALUATION,YEAR_EVALUATION,RESIDENTIAL_REVENUE,COMMERCIAL_REVENUE,PARKING_REVENUE,OTHERS_REVENUE,MUNICIPAL_TAXE,SCHOOL_TAXE,EXPENSES_ELECTRICITY,EXPENSES_OIL,EXPENSES_GAZ,EXPENSES_ASSURANCE,EXPENSES_SNOW,EXPENSES_MAINTENANCE,FONDATION_TYPE,HEATING_ENERGY,NUMBER_1_H,NUMBER_2_H,NUMBER_3_H,NUMBER_4_H,NUMBER_5_H,NUMBER_6_H,NUMBER_7_H,NUMBER_8_H,NUMBER_9_H,AGENCY_NAME,AGENCY_ADDRESS,CT_FULL_NAME,CT_EMAIL,DISTANCE,RBA,REVENUS_GROSS_ROUND,NORM_EXP_HEAT,NORM_EXP_MAINTENANCE,NORM_EXP_CONCIERGE,NORM_EXP_MANAGEMENT,NORM_EXP_INSURANCE,NORM_EXP_VACANCY,NORM_EXP_ELECTRICITY,TOTAL_EXPENSES,NORM_TOTAL_EXPENSES,NET_NORM_INCOME,CAP_RATE,GROSS_REVENUE_MULTIPLICATOR,UNIT_PRICE,NET_REVENUE_MULTIPLICATOR
0,101,2020-05-29 08:24:07,2018-12-31,381,431-433 12e Avenue N. Sherbrooke (Fleurimont) ...,45.4506,-71.8607,125000,2,2,29.9 X 35.2 ft / 9.07 X 10.72 m,"1,047.6 sqft / 97.33 sqm","6,124.66 sqft / 569 sqm",1 329 778 Cadastre du Quebec,1952,71100,98400,2014,15600,0,0,0,2386,267,0,0,0,0,0,0,Concrete slab on ground,"Electricity, Other",0,0,0,0,2,0,0,0,0,RE/MAX D'ABORD INC.,157 boul. Jacques-Cartier S. Sherbrooke J1J 2Z4,Katy Rheaume,katyrheaume@remax-quebec.com,9.0569,nan,nan,0,1000,600,nan,1000,nan,200,nan,nan,nan,nan,nan,62500.0000,nan
1,102,2020-05-29 08:24:13,2019-01-15,323,118 5e Avenue Sherbrooke (Fleurimont) J1G 2L5,45.4037,-71.8777,369000,2,0,37 X 44 ft irr / 11.28 X 13.41 m irr,"1,630 sqft / 151.43 sqm","6,476 sqft / 601.64 sqm",1132557,1949,75100,206200,2018,1,0,0,0,3476,803,4694,0,0,0,0,0,Poured concrete,"Dual energy, Electricity, Heating oil",0,0,0,0,0,0,1,0,0,CENTURY 21 ACTIONWEB INC.,25 rue Bocage Suite 102 Sherbrooke J1L 2J4,Patrick Fares,patrick.fares@century21.ca,4.8913,nan,nan,0,1000,600,nan,1000,nan,4694,nan,nan,nan,nan,nan,184500.0000,nan
2,103,2020-05-29 08:24:19,2019-01-23,86,502 Rue King E. Sherbrooke (Fleurimont) J1G 1B5,45.4079,-71.8777,340000,6,3,30.1 X 41.1 ft / 9.16 X 12.52 m,"1,234.4 sqft / 114.68 sqm","4,500.39 sqft / 418.1 sqm",1330580,1972,104500,225300,2018,28452,0,0,0,5164,562,371,0,0,1426,500,0,Poured concrete,Electricity,0,0,6,0,0,0,0,0,0,Via Capitale Estrie,30 Rioux Sherbrooke J1J 2W7,Dominic Glaude,dominic.glaude@gmail.com,5.0672,28452.0000,29000.0000,0,3000,750,853.5600,1426,853.5600,371,12980.1200,13000.0000,15452.0000,4.5400,11.9500,56666.6700,15452.0000

+ Shape:

(1500, 62)

+ Target:
+ Overall Variables Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 62 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           1500 non-null   int64
 1   CREATED_AT                   1500 non-null   object
 2   SOLD_DATE                    1500 non-null   object
 3   SOLD_DURATION                1500 non-null   int64
 4   ADDRESS                      1500 non-null   object
 5   LATITUDE                     1500 non-null   float64
 6   LONGITUDE                    1500 non-null   float64
 7   SOLD_PRICE                   1500 non-null   int64
 8   UNIT_NUMBER                  1500 non-null   int64
 9   PROPERTY_FLOOR               1500 non-null   int64
 10  BUILDING_SIZE                1400 non-null   object
 11  BUILDING_SURFACE             1103 non-null   object
 12  LOT_SURFACE                  1462 non-null   object
 13  LAND_REGISTER                1500 non-null   object
 14  BUILDING_YEAR                1500 non-null   int64
 15  LOT_EVALUATION               1500 non-null   int64
 16  BUILDING_EVALUATION          1500 non-null   int64
 17  YEAR_EVALUATION              1500 non-null   int64
 18  RESIDENTIAL_REVENUE          1500 non-null   int64
 19  COMMERCIAL_REVENUE           1500 non-null   int64
 20  PARKING_REVENUE              1500 non-null   int64
 21  OTHERS_REVENUE               1500 non-null   int64
 22  MUNICIPAL_TAXE               1500 non-null   int64
 23  SCHOOL_TAXE                  1500 non-null   int64
 24  EXPENSES_ELECTRICITY         1500 non-null   int64
 25  EXPENSES_OIL                 1500 non-null   int64
 26  EXPENSES_GAZ                 1500 non-null   int64
 27  EXPENSES_ASSURANCE           1500 non-null   int64
 28  EXPENSES_SNOW                1500 non-null   int64
 29  EXPENSES_MAINTENANCE         1500 non-null   int64
 30  FONDATION_TYPE               1291 non-null   object
 31  HEATING_ENERGY               1328 non-null   object
 32  NUMBER_1_H                   1500 non-null   int64
 33  NUMBER_2_H                   1500 non-null   int64
 34  NUMBER_3_H                   1500 non-null   int64
 35  NUMBER_4_H                   1500 non-null   int64
 36  NUMBER_5_H                   1500 non-null   int64
 37  NUMBER_6_H                   1500 non-null   int64
 38  NUMBER_7_H                   1500 non-null   int64
 39  NUMBER_8_H                   1500 non-null   int64
 40  NUMBER_9_H                   1500 non-null   int64
 41  AGENCY_NAME                  1500 non-null   object
 42  AGENCY_ADDRESS               1500 non-null   object
 43  CT_FULL_NAME                 1500 non-null   object
 44  CT_EMAIL                     1500 non-null   object
 45  DISTANCE                     1500 non-null   float64
 46  RBA                          342 non-null    float64
 47  REVENUS_GROSS_ROUND          342 non-null    float64
 48  NORM_EXP_HEAT                1500 non-null   int64
 49  NORM_EXP_MAINTENANCE         1500 non-null   int64
 50  NORM_EXP_CONCIERGE           1500 non-null   int64
 51  NORM_EXP_MANAGEMENT          342 non-null    float64
 52  NORM_EXP_INSURANCE           1500 non-null   int64
 53  NORM_EXP_VACANCY             342 non-null    float64
 54  NORM_EXP_ELECTRICITY         1500 non-null   int64
 55  TOTAL_EXPENSES               342 non-null    float64
 56  NORM_TOTAL_EXPENSES          342 non-null    float64
 57  NET_NORM_INCOME              342 non-null    float64
 58  CAP_RATE                     342 non-null    float64
 59  GROSS_REVENUE_MULTIPLICATOR  341 non-null    float64
 60  UNIT_PRICE                   1500 non-null   float64
 61  NET_REVENUE_MULTIPLICATOR    342 non-null    float64
dtypes: float64(14), int64(35), object(13)
memory usage: 2.0 MB

Empty DataFrame
Columns: []
Index: []

In [9]:
def display_missing(dataset, verbose=False):
    features = dataset.columns
    if verbose:
        print("+ Missing data: ")
    missing_count = dataset[features].isnull().sum()
    missing_percent = (dataset[features].isnull().sum() / len(dataset) * 100).round(4)
    missing = pd.DataFrame({'feature': features, 'count': missing_count, 'percent': missing_percent,})
    missing.sort_values('count', ascending=False, inplace=True)
    missing.reset_index(drop=True, inplace=True)
    return missing

display_missing(dataset, True)

+ Missing data:

                        feature  count  percent
0   GROSS_REVENUE_MULTIPLICATOR   1159  77.2667
1     NET_REVENUE_MULTIPLICATOR   1158  77.2000
2                      CAP_RATE   1158  77.2000
3               NET_NORM_INCOME   1158  77.2000
4           NORM_TOTAL_EXPENSES   1158  77.2000
5                TOTAL_EXPENSES   1158  77.2000
6              NORM_EXP_VACANCY   1158  77.2000
7           NORM_EXP_MANAGEMENT   1158  77.2000
8           REVENUS_GROSS_ROUND   1158  77.2000
9                           RBA   1158  77.2000
10             BUILDING_SURFACE    397  26.4667
11               FONDATION_TYPE    209  13.9333
12               HEATING_ENERGY    172  11.4667
13                BUILDING_SIZE    100   6.6667
14                  LOT_SURFACE     38   2.5333
15                LAND_REGISTER      0   0.0000
16         NORM_EXP_MAINTENANCE      0   0.0000
17                   NUMBER_9_H      0   0.0000
18                  AGENCY_NAME      0   0.0000
19               AGENCY_ADDRESS      0   0.0000
20                 CT_FULL_NAME      0   0.0000
21                     CT_EMAIL      0   0.0000
22                     DISTANCE      0   0.0000
23               PROPERTY_FLOOR      0   0.0000
24                NORM_EXP_HEAT      0   0.0000
25           NORM_EXP_CONCIERGE      0   0.0000
26                   NUMBER_7_H      0   0.0000
27                  UNIT_NUMBER      0   0.0000
28           NORM_EXP_INSURANCE      0   0.0000
29                   SOLD_PRICE      0   0.0000
30         NORM_EXP_ELECTRICITY      0   0.0000
31                    LONGITUDE      0   0.0000
32                     LATITUDE      0   0.0000
33                      ADDRESS      0   0.0000
34                SOLD_DURATION      0   0.0000
35                    SOLD_DATE      0   0.0000
36                   UNIT_PRICE      0   0.0000
37                   NUMBER_8_H      0   0.0000
38                   NUMBER_6_H      0   0.0000
39                BUILDING_YEAR      0   0.0000
40         EXPENSES_ELECTRICITY      0   0.0000
41               LOT_EVALUATION      0   0.0000
42          BUILDING_EVALUATION      0   0.0000
43              YEAR_EVALUATION      0   0.0000
44          RESIDENTIAL_REVENUE      0   0.0000
45           COMMERCIAL_REVENUE      0   0.0000
46              PARKING_REVENUE      0   0.0000
47               OTHERS_REVENUE      0   0.0000
48               MUNICIPAL_TAXE      0   0.0000
49                  SCHOOL_TAXE      0   0.0000
50                 EXPENSES_OIL      0   0.0000
51                   NUMBER_5_H      0   0.0000
52                 EXPENSES_GAZ      0   0.0000
53           EXPENSES_ASSURANCE      0   0.0000
54                EXPENSES_SNOW      0   0.0000
55         EXPENSES_MAINTENANCE      0   0.0000
56                   CREATED_AT      0   0.0000
57                   NUMBER_1_H      0   0.0000
58                   NUMBER_2_H      0   0.0000
59                   NUMBER_3_H      0   0.0000
60                   NUMBER_4_H      0   0.0000
61                           ID      0   0.0000

### Extract KPI

In [10]:
# Define Multiple KPI Extractor 
def get_rba(row):
    if np.isnan(row["UNIT_NUMBER"]):
        return np.nan
    if row["UNIT_NUMBER"] >= 5:
        return row["RESIDENTIAL_REVENUE"] + row["COMMERCIAL_REVENUE"] + row["PARKING_REVENUE"] + row["OTHERS_REVENUE"]
    else:
        return np.nan
    
def get_round_up(row):
    if np.isnan(row["RBA"]):
        return np.nan
    decimals = -3 
    multiplier = 10 ** decimals 
    return math.ceil(row["RBA"] * multiplier) / multiplier

def get_norm_expense_heat(row):
    if np.isnan(row["EXPENSES_OIL"]) and np.isnan(row["EXPENSES_GAZ"]):
        return np.nan
    return row["EXPENSES_OIL"] + row["EXPENSES_GAZ"]  

def get_norm_expense_maint(row):
    if np.isnan(row["UNIT_NUMBER"]):
        return np.nan
    return row["UNIT_NUMBER"] * 500

def get_norm_expense_conc(row):
    if np.isnan(row["UNIT_NUMBER"]):
        return np.nan
    if 4 <= row["UNIT_NUMBER"] <= 6:
        row = row["UNIT_NUMBER"]*125
    elif 7 <= row["UNIT_NUMBER"] <= 11:
        row = row["UNIT_NUMBER"]*170
    else:
        row = row["UNIT_NUMBER"]*300
    return row  

def get_norm_expense_mngt(row):
    if np.isnan(row["RBA"]) or np.isnan(row["UNIT_NUMBER"]):
        return np.nan
    if 4 <= row["UNIT_NUMBER"] <= 6:
        row = row["RBA"]*.03
    elif 7 <= row["UNIT_NUMBER"] <= 11:
        row = row["RBA"]*.04
    else:
        row = row["RBA"]*.05
    return row 

def get_norm_expense_vac(row):
    if np.isnan(row["RBA"]):
        return np.nan
    return round(row["RBA"] * 0.03, 2)

def get_norm_expense_ins(row):
    if np.isnan(row["UNIT_NUMBER"]):
        return np.nan
    if np.isnan(row["EXPENSES_ASSURANCE"]) or row["EXPENSES_ASSURANCE"] < 100:
        return row["UNIT_NUMBER"] * 500
    else:
        return row["EXPENSES_ASSURANCE"]
    
def get_norm_expense_elec(row):
    if np.isnan(row["UNIT_NUMBER"]):
        return np.nan
    if np.isnan(row["EXPENSES_ELECTRICITY"]) or row["EXPENSES_ELECTRICITY"] < 100:
        return row["UNIT_NUMBER"] * 100
    else:
        return row["EXPENSES_ELECTRICITY"]
    
def get_total_expenses(row):
    total_exp = row["MUNICIPAL_TAXE"] + row["SCHOOL_TAXE"] + \
                row["NORM_EXP_MAINTENANCE"] + row["NORM_EXP_CONCIERGE"] + \
                row["NORM_EXP_MANAGEMENT"] + row["NORM_EXP_INSURANCE"] + \
                row["NORM_EXP_ELECTRICITY"] + row["NORM_EXP_HEAT"] + \
                row["NORM_EXP_VACANCY"]
    total_exp = round(total_exp, 3)
    
    return total_exp
    
def get_norm_total_expenses(row):
    if np.isnan(row["TOTAL_EXPENSES"]):
        return np.nan
    decimals = -2
    multiplier = 10 ** decimals 
    norm_total = math.ceil(row["TOTAL_EXPENSES"] * multiplier) / multiplier
    return abs(norm_total)

def get_net_norm_income(row):
    if np.isnan(row["RBA"]) or np.isnan(row["NORM_TOTAL_EXPENSES"]):
        return np.nan 
    return round(row["RBA"] - row["NORM_TOTAL_EXPENSES"], 2)

def get_cap_rate(row): 
    if np.isnan(row["NET_NORM_INCOME"]) or np.isnan(row["SOLD_PRICE"]):
        return np.nan
    return round((row["NET_NORM_INCOME"] / row["SOLD_PRICE"] * 100), 2)

def get_gross_revenue_mult(row):
    if np.isnan(row["SOLD_PRICE"]) or np.isnan(row["RBA"]) or row["RBA"] == 0:
        return np.nan
    return round(row["SOLD_PRICE"] / row["RBA"], 2)

def get_unit_price(row):
    if np.isnan(row["SOLD_PRICE"]) or np.isnan(row["UNIT_NUMBER"]):
        return np.nan
    if row["UNIT_NUMBER"] == 0:
        return row["UNIT_NUMBER"]
    return round(row["SOLD_PRICE"] / row["UNIT_NUMBER"], 2)

def get_net_revenue_mult(row):
    if np.isnan(row["SOLD_PRICE"]) or np.isnan(row["NET_NORM_INCOME"]):
        return np.nan
    return round(row["SOLD_PRICE"] / row["NET_NORM_INCOME"], 2)

In [11]:
dataset["RBA"] = dataset.apply(get_rba, axis=1)
dataset["REVENUS_GROSS_ROUND"] = dataset.apply(get_round_up, axis=1)
dataset["NORM_EXP_HEAT"] =  dataset.apply(get_norm_expense_heat, axis=1)
dataset["NORM_EXP_MAINTENANCE"] =  dataset.apply(get_norm_expense_maint, axis=1)
dataset["NORM_EXP_CONCIERGE"] = dataset.apply(get_norm_expense_conc, axis=1)
dataset["NORM_EXP_MANAGEMENT"] = dataset.apply(get_norm_expense_mngt, axis=1)
dataset["NORM_EXP_INSURANCE"] = dataset.apply(get_norm_expense_ins, axis=1)
dataset["NORM_EXP_VACANCY"] = dataset.apply(get_norm_expense_vac, axis=1)
dataset["NORM_EXP_ELECTRICITY"] = dataset.apply(get_norm_expense_elec, axis=1)
dataset["TOTAL_EXPENSES"] = dataset.apply(get_total_expenses, axis=1)
dataset["NORM_TOTAL_EXPENSES"] = dataset.apply(get_norm_total_expenses, axis=1)
dataset["NET_NORM_INCOME"] = dataset.apply(get_net_norm_income, axis=1)
dataset["CAP_RATE"] = dataset.apply(get_cap_rate, axis=1)
dataset["GROSS_REVENUE_MULTIPLICATOR"] = dataset.apply(get_gross_revenue_mult, axis=1)
dataset["UNIT_PRICE"] = dataset.apply(get_unit_price, axis=1)
dataset["NET_REVENUE_MULTIPLICATOR"] = dataset.apply(get_net_norm_income, axis=1)

In [12]:
display_missing(dataset, True)

+ Missing data:

                        feature  count  percent
0   GROSS_REVENUE_MULTIPLICATOR   1159  77.2667
1     NET_REVENUE_MULTIPLICATOR   1158  77.2000
2                      CAP_RATE   1158  77.2000
3               NET_NORM_INCOME   1158  77.2000
4           NORM_TOTAL_EXPENSES   1158  77.2000
5                TOTAL_EXPENSES   1158  77.2000
6              NORM_EXP_VACANCY   1158  77.2000
7           NORM_EXP_MANAGEMENT   1158  77.2000
8           REVENUS_GROSS_ROUND   1158  77.2000
9                           RBA   1158  77.2000
10             BUILDING_SURFACE    397  26.4667
11               FONDATION_TYPE    209  13.9333
12               HEATING_ENERGY    172  11.4667
13                BUILDING_SIZE    100   6.6667
14                  LOT_SURFACE     38   2.5333
15                LAND_REGISTER      0   0.0000
16         NORM_EXP_MAINTENANCE      0   0.0000
17                   NUMBER_9_H      0   0.0000
18                  AGENCY_NAME      0   0.0000
19               AGENCY_ADDRESS      0   0.0000
20                 CT_FULL_NAME      0   0.0000
21                     CT_EMAIL      0   0.0000
22                     DISTANCE      0   0.0000
23               PROPERTY_FLOOR      0   0.0000
24                NORM_EXP_HEAT      0   0.0000
25           NORM_EXP_CONCIERGE      0   0.0000
26                   NUMBER_7_H      0   0.0000
27                  UNIT_NUMBER      0   0.0000
28           NORM_EXP_INSURANCE      0   0.0000
29                   SOLD_PRICE      0   0.0000
30         NORM_EXP_ELECTRICITY      0   0.0000
31                    LONGITUDE      0   0.0000
32                     LATITUDE      0   0.0000
33                      ADDRESS      0   0.0000
34                SOLD_DURATION      0   0.0000
35                    SOLD_DATE      0   0.0000
36                   UNIT_PRICE      0   0.0000
37                   NUMBER_8_H      0   0.0000
38                   NUMBER_6_H      0   0.0000
39                BUILDING_YEAR      0   0.0000
40         EXPENSES_ELECTRICITY      0   0.0000
41               LOT_EVALUATION      0   0.0000
42          BUILDING_EVALUATION      0   0.0000
43              YEAR_EVALUATION      0   0.0000
44          RESIDENTIAL_REVENUE      0   0.0000
45           COMMERCIAL_REVENUE      0   0.0000
46              PARKING_REVENUE      0   0.0000
47               OTHERS_REVENUE      0   0.0000
48               MUNICIPAL_TAXE      0   0.0000
49                  SCHOOL_TAXE      0   0.0000
50                 EXPENSES_OIL      0   0.0000
51                   NUMBER_5_H      0   0.0000
52                 EXPENSES_GAZ      0   0.0000
53           EXPENSES_ASSURANCE      0   0.0000
54                EXPENSES_SNOW      0   0.0000
55         EXPENSES_MAINTENANCE      0   0.0000
56                   CREATED_AT      0   0.0000
57                   NUMBER_1_H      0   0.0000
58                   NUMBER_2_H      0   0.0000
59                   NUMBER_3_H      0   0.0000
60                   NUMBER_4_H      0   0.0000
61                           ID      0   0.0000

In [13]:
dataset.FONDATION_TYPE.value_counts()

Poured concrete                                    884
Stone                                              196
Poured concrete, Stone                              74
Concrete slab on ground                             68
Concrete blocks                                     17
Other                                               11
Concrete blocks, Poured concrete                    10
Concrete slab on ground, Poured concrete             8
Concrete blocks, Poured concrete, Stone              6
Concrete blocks, Stone                               3
Poured concrete, Other                               2
Stone, Other                                         2
Concrete slab on ground, Poured concrete, Stone      2
Concrete slab on ground, Stone                       1
Concrete blocks, Poured concrete, Other              1
Concrete blocks, Stone, Other                        1
Concrete blocks, Concrete slab on ground             1
Concrete                                             1
Poured concrete, Stone, Other                        1
Concrete slab on ground, Other                       1
Concrete blocks, Other                               1
Name: FONDATION_TYPE, dtype: int64